body {
	background-color: #010101;
    font-family: -apple-system,BlinkMacSystemFont,PingFangSC-Light,Hiragino Sans GB,Microsoft Yahei,Arial,sans-serif !important;
    font-weight: lighter;
    background-image: url(//ww2.sinaimg.cn/woriginal/647dee4bgw6ddc331qe3gj.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left top;
}
.search_input .searchInp_box .searchInp_form {
	font-family: -apple-system,BlinkMacSystemFont,PingFangSC-Light,Hiragino Sans GB,Microsoft Yahei,Arial,sans-serif !important;
}
.WB_global_nav {
	background-color: #444;
}
.WB_global_nav .gn_logo .box .logo {
    filter: invert(50%);
    -webkit-filter: invert(50%);
}
.WB_global_nav a em {
	color: #999 !important;
}
.WB_main_l a,
.W_ficon {
	color: #999 !important;
}
.WB_global_nav .gn_set_list .W_new_count,
.WB_left_nav .lev .W_new_count,
.WB_global_nav .ficon_send {
	background: #000;
	color: #fff;
}
/* Hide components */
div[class*="webim_fold"],
div[class*="PCD_mplayer"],
div[class*="W_gotop"],
div[class*="W_icon"],
div[id*="content_biztips"],
div[id*="rightmod_rank"],
div[id*="rightmod_ads35"],
div[id*="rightmod_ads36"],
div[id*="rightmod_attfeed"],
div[id*="trustPagelet_recom_member"], 
div[id*="rightmod_noticeboard"],
div[id*="ad_bigday"],
div[id*="ad_forfqy"],
div[id*="guide_homeguide"],
div[id*="ad_bottomtip"],
div[id*="plc_bot"],
div[id*="Core_RecommendFeed"],
div[id*="Third_Inline"],
div[id*="Core_UserGrid"],
div[id*="Core_FansGroups"],
div[id*="Official_LikeMerge"],
div[id*="Core_RecommendFeed"],
div[feedtype*="ad"],
div[id*="_embed_"],
.icon_setskin {
	display: none;
}
